*.o
.*.swp
\#*\#
*~
Makefile
autom4te.cache
cscope.out
TAGS
tags
include/comm.h
include/config.h
config.h.in
config.log
config.status
configure
kmapdef.c
include/osdef.h
include/term.h
screen
screen.exe
stamp-h.in
